/* :root {
    --card-size: 50px;
    --font-size: 8px;
} */

.chain-manager {
    position: relative;
    animation: anim 600ms linear;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 300ms; /* Wait for card fade-out before showing score */
    color: #202020;
    z-index: 3;
    text-align: center;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--card-size);
    height: var(--card-size);
    font-size: var(--font-size);
    font-family: Tomorrow-Regular;
    user-select: none;
}

@keyframes anim {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.1) translateY(-10%);
    }
}

/* @media screen and (min-width: 1024px) {
    :root {
        --card-size: 100px;
        --font-size: 16px;
    }
  } */