/* :root {
    --grid-size: 256px;
    --border-size: calc(0.3px * var(--size));
    --help-font-size: 18px;
    --button-padding: 3px 8px;
    --help-margin-top: 12px;
    --help-width: 180px;
} */

.game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--grid-size);
    height: var(--grid-size);
    position: absolute;
    border: var(--border-size) solid rgba(245, 0, 0, 0.767);
    border-radius: var(--card-border-size);

    box-sizing: border-box;
    z-index: 4;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-name: blurEaseOpen;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    user-select: none;
}

.game-over-screen > div {
    user-select: none;
}

@keyframes blurEaseOpen {
    to {
        background-color: #000000a8;
        backdrop-filter: blur(8px);
    }
}


/* letters should dance independently, left-to-right, then short pause, then right-to-left */
.header-text {
    color: white;
    font-family: Tomorrow-Light;
    letter-spacing: 30%;
    font-size: var(--help-font-size);
    margin-top: var(--help-margin-top);
}

.new-high {
    margin-top: calc(var(--help-margin-top) * 2);
    font-family: Tomorrow-Light;
    font-size: calc(var(--help-font-size) / 1.5);
    letter-spacing: 10%;
}

.new-high span {
    display: inline-block;
    animation-name: dance;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

/* cubic-bezier(0.33, 1, 0.68, 1) */

.new-high span:nth-child(1) {
    animation-delay: 400ms;
}
.new-high span:nth-child(2) {
    animation-delay: 500ms;
}
.new-high span:nth-child(3) {
    animation-delay: 600ms;
}

.new-high span:nth-child(5) {
    animation-delay: 400ms;
}
.new-high span:nth-child(6) {
    animation-delay: 500ms;
}
.new-high span:nth-child(7) {
    animation-delay: 600ms;
}
.new-high span:nth-child(8) {
    animation-delay: 700ms;
}

.new-high span:nth-child(10) {
    animation-delay: 400ms;
}
.new-high span:nth-child(11) {
    animation-delay: 500ms;
}
.new-high span:nth-child(12) {
    animation-delay: 600ms;
}
.new-high span:nth-child(13) {
    animation-delay: 700ms;
}
.new-high span:nth-child(14) {
    animation-delay: 800ms;
}


@keyframes dance {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-7px);
    }
}

.return-button {
    border: solid 1px white;
    letter-spacing: 15%;
    font-size: calc(var(--help-font-size) / 2);
    background-color: #00000000;
    border-radius: 0;
    padding: var(--button-padding);
    margin-top: var(--help-margin-top);
    color: white;
}


/* @media screen and (min-width: 1024px) {
    :root {
        --grid-size: 512px;
        --border-size: calc(0.6px * var(--size));
        --help-font-size: 36px;
        --button-padding: 6px 16px;
        --help-margin-top: 24px;
        --help-width: 360px;
    }
} */