.containers {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ededed;

  height: 100%;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .containers {
    flex-direction: row;
  }
}