.card-back {
    width: 88px;
    height: 88px;
    border-radius: 8px;
    background-color: #CD5454;
}

.card-base-state {
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    user-select: none;
    touch-action: none;
}

.card-inner-shape {
    background-image: url('./hexagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}

.card-mult-top {
    position: absolute;
    color: black;
    margin: 5px 0 0 10px;
    font-size: 12px;
}

.card-mult-bot {
    position: relative;
    color: black;
    bottom: 25px;
    left: 80px;
    font-size: 12px;
    width: 20px;
}

.card-dragging-state {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-selected-state {
    opacity: 50%;
}

.dummy-card {
    width: 100px;
}