:root {
    --card-back-size: 44px;
    --card-border-size: 4px;
    --card-size: 50px;
    --shape-size: 37.5px;
    --mult-font-size: 6px;
    --active-border-size: 1.5px;
    --angle: 45deg;
    --border-size: 0.3rem;

    /* Probably revisit these ones later down the line */
    --s-mult-top-margin: 1px 0 0 3px;
    --s-mult-bot-bot: 12.5px;
    --s-mult-bot-left: 40px;
    --s-mult-bot-width: 10px; 
}

.card-base-state {
    background-color: #FFFFFF;
    width: var(--card-size);
    height: var(--card-size);
    border-radius: var(--card-border-size);
    user-select: none;
    touch-action: none;
    z-index: 2;
    position: relative;

    box-sizing: border-box;
    border: var(--active-border-size) solid white;
}

.card-inner-shape {
    background-size: var(--shape-size);
    background-repeat: no-repeat;
    background-position: center;
    height: var(--card-size);
    width: var(--card-size);

    /* Account for active border */
    position: relative;
    bottom: var(--active-border-size);
    right: var(--active-border-size);  
}

.card-mult-top {
    position: absolute;
    color: black;
    margin: var(--s-mult-top-margin);
    font-size: var(--mult-font-size);
}

.card-mult-bot {
    position: relative;
    color: black;
    bottom: var(--s-mult-bot-bot);
    left: var(--s-mult-bot-left);
    font-size: var(--mult-font-size);
    width: var(--s-mult-bot-width);
}

.card-dragging-state {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-selected-state {
    opacity: 50%;
}

.card-placed-state {
    position: absolute;
}

/* fix shape offsets */

.card-on-board-state {
    box-sizing: border-box;
    border: var(--active-border-size) dotted transparent;
    background-image: linear-gradient(
        to right,
        rgb(255 255 255 / 1),
        rgb(255 255 255 / 1)
      ),
      conic-gradient(
        from var(--angle),
        #C6C6C6 0deg 90deg,
        #ffffff 90deg 180deg,
        #ffffff 180deg 270deg,
        #ffffff 270deg 360deg
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  .card-on-board-state {
    animation: rotate 3s linear infinite;
  }


.dummy-card {
    width: var(--card-size);
}

@media screen and (min-width: 1024px) {
    :root {
        --card-back-size: 88px;
        --card-border-size: 8px;
        --card-size: 100px;
        --shape-size: 75px;
        --mult-font-size: 12px;
        --active-border-size: 3px;

        /* Probably revisit these ones later down the line */
        --s-mult-top-margin: 2px 0 0 6px;
        --s-mult-bot-bot: 25px;
        --s-mult-bot-left: 80px;
        --s-mult-bot-width: 20px; 
    }
  }