/* :root {
    --grid-size: 256px;
    --playerspace-buttons-width: 32px;
    --playerspace-size: 128px;
    --border-size: calc(0.3px * var(--size));
    --card-size: 50px;
    --scorebug-margin-size: 4.5px;
    --scorebug-font-size: 10px;
    --scorebug-mult-font-size: 8px;
    --scorebug-mult-margin-top: -2.5px;
    --scorebug-mult-margin-bot: 12.5px;
    --gap-size: 16px;
    --legend-size: 60px;
    --s-pile-size: 80px;
    --stack-offset-a: -43px;
    --stack-offset-b: -36px;
    --stack-offset-c: -29px;
} */

.playerspace-container {
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
}

.playerspace-buttons {
    width: var(--playerspace-buttons-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-size);
    padding-top: calc(var(--gap-size) / 2);
}

.playerspace-buttons > button {
    border-radius: 100px;
    width: calc(var(--card-size) / 2);
    height: calc(var(--card-size) / 2);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #00000000;
    transition: background-color 200ms;

    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.playerspace-buttons > button:hover {
    background-color: rgb(224, 224, 224);
    transition: background-color 200ms;
}

.help-button {
    background-image: url('./help.svg');
}

.sound-button {
    background-image: url('./sfx.svg');
}

.scorebug {
    display: flex;
    justify-content: space-between;
    margin: var(--scorebug-margin-size) var(--scorebug-margin-size) 0 var(--scorebug-margin-size);
}

.scorebug > div {
    color: black;
    font-size: var(--scorebug-font-size);
    user-select: none;

    font-family: Tomorrow-Light;
}

.current-mult {
    letter-spacing: 15%;
    text-align: center;
    font-size: var(--scorebug-mult-font-size);
    color: #9C9C9C;
    user-select: none;
    margin-top: var(--scorebug-mult-margin-top);
    margin-bottom: var(--scorebug-mult-margin-bot);

    font-family: Tomorrow-Light;
}

.playerspace {
    width: var(--playerspace-size);
    height: inherit;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
}

[class*='card-back'] {
    width: var(--card-back-size);
    height: var(--card-back-size);
    border-radius: var(--card-border-size);
}

.card-back-red {
    background-color: #CD5454;
}

.card-back-black {
    background-color: #5B5B5B;
}

.player-hand, .draw-pile-container {
    display: flex;
    justify-content: center;
    gap: var(--gap-size);
}

.draw-pile-container {
    height: var(--s-pile-size);
}

.draw-pile > .card-base-state {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.draw-pile > div:nth-child(n + 2) {
    position: absolute;
    margin-top: var(--stack-offset-a);
}

.draw-pile > div:nth-child(n + 3) {
    position: absolute;
    margin-top: var(--stack-offset-b);
}

.draw-pile > div:nth-child(n + 4) {
    position: absolute;
    margin-top: var(--stack-offset-c);
}

.legend {
    background-image: url('./legend.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--legend-size);
    flex-grow: 1;
}
/* @media screen and (min-width: 1024px) {
    :root {
        --grid-size: 512px;
        --playerspace-buttons-width: 64px;
        --playerspace-size: 256px;
        --border-size: calc(0.6px * var(--size));
        --card-size: 100px;
        --scorebug-margin-size: 9px;
        --scorebug-font-size: 20px;
        --scorebug-mult-font-size: 16px;
        --scorebug-mult-margin-top: -5px;
        --scorebug-mult-margin-bot: 25px;
        --gap-size: 32px;
        --legend-size: 120px;
        --s-pile-size: 160px;
    
        --stack-offset-a: -86px;
        --stack-offset-b: -72px;
        --stack-offset-c: -58px;    
    }
  } */