:root {
    --grid-size: 256px;
    --playerspace-size: 128px;
    --border-size: 1.5px;
    --card-size: 50px;
    --scorebug-margin-size: 6px;
    --scorebug-font-size: 10px;
    --gap-size: 16px;

    /* This one's just a placeholder until the stack can be rendered properly. */
    --s-pile-size: 82.5px;
}

.playerspace-container {
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: #ededed;
    
    display: flex;
    justify-content: center;

}

.scorebug {
    display: flex;
    justify-content: space-between;
    margin: var(--scorebug-margin-size);
}

.scorebug > div {
    color: black;
    font-size: var(--scorebug-font-size);
    user-select: none;
}


.playerspace {
    width: var(--playerspace-size);
    height: inherit;
    display: flex;
    flex-direction: column;    
}

.player-hand, .draw-pile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
}

.draw-pile-container {
    height: var(--s-pile-size);
}

.draw-pile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--s-pile-size);
}

.draw-pile-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
    :root {
        --grid-size: 512px;
        --playerspace-size: 256px;
        --border-size: 3px;
        --card-size: 100px;
        --scorebug-margin-size: 12px;
        --scorebug-font-size: 12px;
        --gap-size: 32px;
    
        /* This one's just a placeholder until the stack can be rendered properly. */
        --s-pile-size: 165px;
    }
  }